.otherLinks {
  display: flex;
}

#customNavbar {
  padding: 15px 40px;
  background: var(--banner);
  display: flex;
  gap: 15px;
  align-items: center;
}

.gap {
  display: flex;
  flex-basis: 66%;
  height: 0;
}

.left {
  background: #000;
  justify-content: left;
  justify-self: left;
}

.right {
  justify-content: right;
  justify-self: right;
}

#toggle-container {
  align-items: center;
  padding-right: 10px;
}

.break {
  flex-basis: 100%;
  height: 0;
}