.otherLinks {
  display: flex;
}

#customNavbar {
  padding: 15px 40px;
  background: var(--banner);
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.right {
  display: flex;
  align-items: center;
  gap: 40px;
}

#toggle-container {
  align-items: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}