:root {
  --toggle-banner: #C44F00;
  --toggle-text: #f3f4f6;
  --toggle-text-h: #f3f4f6;
  --toggle-bg: #300000;
  --toggle-border: #2e303a;
  --toggle-code-bg: #1f2028;
  --toggle-accent: #c084fc;
  --toggle-accent-bg: rgba(192, 132, 252, 0.15);
  --toggle-accent-border: rgba(192, 132, 252, 0.5);
  --toggle-shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  --toggle-social-bg: rgba(47, 48, 58, 0.5);
  --toggle-link: #72F2DA;
  --toggle-hover-link: #FFFFFF;

  --def-banner: #E36717;
  --def-text: #000000;
  --def-text-h: #08060d;
  --def-bg: #FFEDC7;
  --def-border: #e5e4e7;
  --def-code-bg: #f4f3ec;
  --def-accent: #aa3bff;
  --def-accent-bg: rgba(170, 59, 255, 0.1);
  --def-accent-border: rgba(170, 59, 255, 0.5);
  --def-shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --def-social-bg: rgba(244, 243, 236, 0.5);
  --def-link: #073F5F;
  --def-hover-link: #000000;

  --banner: var(--def-banner);
  --text: var(--def-text);
  --text-h: var(--def-text-h);
  --bg: var(--def-bg);
  --border: var(--def-border);
  --code-bg: var(--def-code-bg);
  --accent: var(--def-accent);
  --accent-bg: var(--def-accent-bg);
  --accent-border: var(--def-accent-border);
  --shadow: var(--def-shadow);
  --social-bg: var(--def-social-bg);
  --link: var(--def-link);
  --hover-link: var(--def-hover-link);
  
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --def-banner: #C44F00;
    --def-text: #f3f4f6;
    --def-text-h: #f3f4f6;
    --def-bg: #300000;
    --def-border: #2e303a;
    --def-code-bg: #1f2028;
    --def-accent: #c084fc;
    --def-accent-bg: rgba(192, 132, 252, 0.15);
    --def-accent-border: rgba(192, 132, 252, 0.5);
    --def-shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    --def-social-bg: rgba(47, 48, 58, 0.5);
    --def-link: #72F2DA;
    /* Yes, the above is accessible. It has a 3.45:1 contrast, and links require a 3:1 contrast to satisfy AA requirements */
    --def-hover-link: #FFFFFF;

    --toggle-banner: #E36717;
    --toggle-text: #000000;
    --toggle-text-h: #08060d;
    --toggle-bg: #FFEDC7;
    --toggle-border: #e5e4e7;
    --toggle-code-bg: #f4f3ec;
    --toggle-accent: #aa3bff;
    --toggle-accent-bg: rgba(170, 59, 255, 0.1);
    --toggle-accent-border: rgba(170, 59, 255, 0.5);
    --toggle-shadow:
      rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    --toggle-social-bg: rgba(244, 243, 236, 0.5);
    --toggle-link: #073F5F;
    --toggle-hover-link: #000000;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

:has(#color-toggle:checked){
  --banner: var(--toggle-banner);
  --text: var(--toggle-text);
  --text-h: var(--toggle-text-h);
  --bg: var(--toggle-bg);
  --border: var(--toggle-border);
  --code-bg: var(--toggle-code-bg);
  --accent: var(--toggle-accent);
  --accent-bg: var(--toggle-accent-bg);
  --accent-border: var(--toggle-accent-border);
  --shadow: var(--toggle-shadow);
  --social-bg: var(--toggle-social-bg);
  --link: var(--toggle-link);
  --hover-link: var(--toggle-hover-link);
}

#root {
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#main-content {
  width: 80%;
  /*border-inline: 1px solid var(--border);*/
  max-width: 100%;
  margin: 0 auto;
}

/* After importing in the bootstrap styles, the background turned to white. I couldn't figure out why, so I had to ask AI here */
body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  margin-bottom: 200px;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

a {
  color: var(--link);
  font-weight: bold;
}

a:hover {
  color: var(--hover-link);
}
